:root{
  --link-color: #3700ff;
  --blue-600: #0079c9;
  --blue-100: #388ec7;
  --header-height: 50px;
  --sidebar-width: 200px;
}

*>{
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  width: 100%;
  top:0;
  right:0;
  z-index:1;
  background-color: #dbe0f9;
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

#content{
  position: absolute;
  top: var(--header-height);
  left:0
}

#header-logo{
  font-size: 2.5em;
}

#header-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-content>*{
  margin:0.2em
}

#header-login-form>*{
  margin: 0.2em;
}

.login-input{
  width: 150px;
  /* put more styling */
}

.header-input{
  width: 120px;
}

#header-login-link{
  height: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-1{
  color: white;
  background-color: var(--link-color);
  border: 1px solid gray;
  border-radius: 0.3em;
  height: 2em;
  width: max-content;
  cursor: pointer
}

a{
  text-decoration: none;
  color: var(--link-color)
}

@media (min-width:850px){

  #header-login-link{
    display: none;
  }

}

@media (max-width:850px){
  #header-login-form, #header-new-user{
    display: none;
  }

}

#sidebar{
  z-index:1;
  position: fixed;

  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));

  background-color: white;
  border-right: 2px solid black;
  box-sizing: border-box;
}

#sidebar-list{
  margin:0;
  padding:0.5em 0 0;
  list-style: none;
}

#sidebar-list>li{
  padding: 0.5em 0;
  text-align: center;
}

.content-block {
  width: calc(100vw - var(--sidebar-width));
  left: var(--sidebar-width);
  position: relative;
}

.form-container{
  display: block;
  margin: 10% auto;
  width: max-content;
}

.form-container>form{
  width: 375px;
  display:flex;
  flex-direction: column;
}

.form-container>form>*{
  margin: 0.3em;
}

.input-error{
  font-size: 0.7em;
  color: red;
}

.listing:hover{
  cursor: pointer;
  color: var(--link-color);
  text-decoration: underline;
}