nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo{
  font-size: 2em;
}

#nav-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#login>*{
  margin: 0.2em;
}

.login-input{
  width: 90px;
}

#login-button{
  width: max-content;
}

a{
  text-decoration: none;
  color: rgb(55, 0, 255)
}